<!DOCTYPE html>
<html>
<head>
  <title>Leadgen - Aidetic</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    body {
            background-color: #121C37; /* Dark blue background */
            color: #fff;
            border-radius: 10px;
            padding: 10px;
            /* margin-top: 30px; */
        }
        .container {
            background-color: #1B2A4E; /* Lighter blue container background */
            border-radius: 10px;
            padding: 30px;
            margin-top: 50px;
        }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="text-left">Thank you for using Leadgen!</h1>
    <br>
    <h1>{{message}}</h1>
  </div>
</body>
</html>

<!-- <h1 class="text-left">Processing has started. You will receive an email with the results when they are ready.</h1> -->